.checkbox-component {
  transition: var(--transition-default);

  svg {
    color: var(--color-white);
  }

  &:hover {
    .box {
      border: 1px solid var(--color-secondary);
    }
  }

  &.active {
    transition: var(--transition-default);

    .box {
      background: var(--color-main);
      border: 1px solid var(--color-main);
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--color-gray);
    transition: var(--transition-default);

    .box {
      background: var(--color-gray);
      border: 1px solid var(--color-gray);
    }

  }

  .box {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-main);
    border-radius: 4px;
    transition: var(--transition-default);

    svg {
      width: 10px;
      height: 10px;
    }
  }
}