.multi-input-component {
  position: relative;
  height: auto;
  width: max-content;
  max-width: 250px;
  padding: 6px 10px;
  background: var(--color-white);
  border: 1px solid var(--color-main);
  border-radius: var(--border-radius-small);
  font-size: 16px;
  line-height: 20px;
  color: var(--color-main);
  transition: var(--transition-default);

  svg {
    width: 20px;
    height: 20px;
  }

  input {
    outline: none;
    border: none;
    border-radius: var(--border-radius-small);
    color: var(--color-main);
    background: var(--color-white);

    &::placeholder {
      color: var(--color-gray);
    }
  }

  // &.focus {
  //   border: 1px solid var(--color-secondary);
  //   color: var(--color-secondary);

  //   input {
  //     color: var(--color-secondary);
  //   }
  // }

  &.disabled {
    border: 1px solid var(--color-gray);
    color: var(--color-gray);
    cursor: not-allowed;

    svg {
      cursor: not-allowed;
    }

    input {
      color: var(--color-black);
      cursor: not-allowed;
    }

    .element {
      cursor: not-allowed;
      border: 1px solid var(--color-gray);
      color: var(--color-black);
    }
  }

  .element {
    cursor: default;
    word-break: break-all;
    padding: 2px;
    border: 1px solid var(--color-main);
    border-radius: var(--border-radius-small);
    transition: var(--transition-default);
    color: var(--color-main);

    &:hover {
      border: 1px solid var(--color-secondary);
      color: var(--color-secondary);

      svg {
        cursor: pointer;
      }
    }
  }

  &.focus {
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);

    input {
      color: var(--color-secondary);
    }
  }
}