.radio-button-component {
  padding: 8px 0;
  font-size: 16px;
  line-height: 24px;
  transition: var(--transition-default);

  input {
    display: none;
  }

  &:hover {
    .button {
      border: 1px solid var(--color-secondary);
    }
  }

  .button {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-main);
    border-radius: 100%;
    transition: var(--color-transition-default);

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 8px;
      height: 8px;
      margin: auto auto;
      background-color: var(--color-main);
      border-radius: 50%;
      opacity: 0;
      transition: var(--transition-default);
    }
  }

  input:checked+.button {
    border: 1px solid var(--color-main);

    &::before {
      opacity: 1;
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--color-gray);

    .button {
      border: 1px solid var(--color-gray) !important;

      &::before {
        background: var(--color-gray);
      }
    }
  }
}