.select-component {
  position: relative;
  width: max-content;
  max-width: 250px;
  height: auto;
  padding: 6px 10px;
  background: var(--color-white);
  border: 1px solid var(--color-main);
  border-radius: var(--border-radius-small);
  color: var(--color-main);
  user-select: none;
  transition: var(--transition-default);

  &:hover {
    cursor: pointer;
  }

  .selected {
    width: 100%;
    color: var(--color-main);
    transition: var(--transition-default);
  }

  svg {
    transition: var(--transition-default);
  }

  .options {
    display: none;
  }

  &.open {
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);

    .selected {
      color: var(--color-secondary);

      svg {
        transform: rotate(180deg);
        color: var(--color-secondary);
      }
    }

    .options {
      position: absolute;
      top: 40px;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1px;
      background: var(--color-white);
      border: 1px solid var(--color-main);
      border-radius: var(--border-radius-small);

      .option {
        width: 100%;
        height: auto;
        padding: 6px 10px;
        background: var(--color-white);
        color: var(--color-main);
        border-radius: var(--border-radius-small);

        &:hover {
          background: var(--color-secondary);
          color: var(--color-white);
          cursor: pointer;
        }
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--color-gray);
    transition: var(--transition-default);
    background: var(--color-white);
    border: 1px solid var(--color-gray);

    .selected {
      color: var(--color-gray);
    }
  }
}