.switch-component {
  position: relative;
  width: 100%;
  cursor: pointer;
  color: var(--color-main);

  &.active {
    .track {
      background: var(--color-main);
    }

    .circle {
      background: var(--color-white);
      transform: translate3d(94%, 0, 0);
    }
  }

  &.disabled {
    outline: none;
    cursor: not-allowed;
    pointer-events: none;
    color: var(--color-gray);

    .track {
      border: 2px solid var(--color-gray);
    }

    .circle {
      background: var(--color-gray);
    }
  }

  .track {
    box-sizing: border-box;
    max-width: 48px;
    height: 28px;
    padding: 0 1px;
    background: var(--color-white);
    border: 2px solid var(--color-main);
    border-radius: var(--border-radius-default);
    transition: var(--transition-default);
  }

  .circle {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    background: var(--color-main);
    border-radius: 50%;
    transition: var(--transition-default);
  }
}