@font-face {
  font-weight: 400;
  font-family: Kantumruy;
  font-style: normal;
  src: url("/fonts/kantumruy-regular.woff2") format("woff2"),
    url("/fonts/kantumruy-regular.woff") format("woff");
  font-display: swap;
}