html {
  --color-main: #E21143;
  --color-secondary: #FFB03A;

  --color-gradient: linear-gradient(60deg, #E21143, #FFB03A);

  --color-black: #222;
  --color-white: #f1f1f1;

  --border-radius-default: 20px;
  --border-radius-button: 8px;
  --transition-default: 300ms ease;
}