html {
  --color-main: #B46060;
  --color-secondary: #FFBF9B;
  --color-gradient: linear-gradient(60deg, var(--color-main), var(--color-secondary));

  --color-success: #3CC13B;
  --color-error: #E21143;

  --color-black: #222;
  --color-white: #f1f1f1;
  --color-gray: #d9d9d9;


  --border-radius-default: 20px;
  --border-radius-small: 8px;
  --transition-default: 300ms ease;
}